<h2> Todo List</h2>

<div class="container">
    <h4>Search</h4>
    <div class="row">
        <div class="col">
            <div class="form-group">
                Filter by username: <input type="text" class="form-control" placeholder="Search..." [(ngModel)]="usernameFilter" (ngModelChange)="filter()">
            </div>
        </div>
    </div>
</div>
<br>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Title</th>
            <th>Username</th>
            <th>Completed</th>
        </tr>
    </thead>
    <tbody>

        <tr *ngFor="let todo of this.filteredTodos | paginate: {itemsPerPage: ipp, currentPage: cp}; let i = index">
            <td>{{todo.title}}</td>
            <td>{{todo.user.name}}</td>
            <td>{{todo.completed}}</td>
        </tr>
    </tbody>
</table>
<br>
<div class="d-flex justify-content-center ">
    <pagination-controls (pageChange)="cp=$event "></pagination-controls>
</div>