<div class="card">
    <div class="card-body">
        <form [formGroup]="newTodoForm" method="post" (ngSubmit)="submit()">
            <div class="row">
                <div class="input-group mb-3">
                    <label for="userId" class="form-label fw-bold">Id de usuario:</label>
                    <input type="number" name="userId" class="form-control" formControlName="userId" min=1>
                    <div *ngIf="todoFormControl['userId'].touched && todoFormControl['userId'].invalid" class="text-danger">
                        <div *ngIf="todoFormControl['userId'].errors?.['required']">
                            (El userId no puede quedar vacío)
                        </div>
                        <div *ngIf="todoFormControl['userId'].errors?.['min']">
                            (Debe ser mayor que 0)
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="input-group mb-3">
                    <label for="title" class="form-label fw-bold">Título:</label>
                    <input name="title" class="form-control" type="text" formControlName="title">
                    <div *ngIf="todoFormControl['title'].touched && todoFormControl['title'].invalid" class="text-danger">
                        <div *ngIf="todoFormControl['title'].errors?.['required']">
                            (El título no puede quedar vacío)
                        </div>
                        <div *ngIf="todoFormControl['title'].errors?.['maxlength']">
                            (Debe ser menor que 200)
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="input-group mb-3">
                    <label for="completed" class="form-label fw-bold">Validar tarea completada</label>
                    <select name="completed" class="form-control" formControlName="completed">
            <option value="">Selecciona una opción</option>
            <option value="true">Completed</option>
            <option value="false">Not completed</option>
          </select>
                    <div *ngIf="todoFormControl['completed'].touched && todoFormControl['completed'].invalid" class="text-danger">
                        <div *ngIf="todoFormControl['completed'].errors?.['required']">
                            (Debe marcarse el estado de la tarea)
                        </div>
                    </div>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-4"></div>
                <button type="submit" [disabled]="newTodoForm.invalid" class="btn btn-primary btn-lg col-4">Añadir
          tarea</button>
                <div class="col-4"></div>
            </div>
        </form>
    </div>
</div>
<div>{{resultado}}</div>